@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
  --primaria: #e6b07e;
  --secundaria: #665e57;
  --tom1: #ead8c7;
  --tom2: #b38962;
  --tom3: #664e38;

  background-color: var(--tom1);

}

h1 {
  color: var(--secundaria);
  font-family: Exo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 48px */

  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);

}

 span {
 color: var(--tom3);
 font-weight: 800;

}

[role=mask] {
 width: 90%;
 height: 260px;
 border-radius: 8px;

 
 display: flex;
 justify-content: center;

 overflow: hidden;
 filter: drop-shadow( 0px 24px 34px 0px rgba#00000095);

}

[role=logo]
{
width: 160px;
height: 160px;

background-color: black;

mask: url('public/logo branca.svg');
mask-size: 100%;

}


 img {
  height: 100%;
}

p {
  font-size: 20px;
  font-family: 'source-serif-4', serif;
  color: #00000095;
  
}