@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

/* *** */
/* BASE */
/* *** */

:root {
  --primaria: #e6b07e;
  --secundaria: #665e57;
  --tom1: #ead8c7;
  --tom2: #b38962;
  --tom3: #664e38;

  background-color: var(--tom1);
}

.hero {
  justify-content: space-around;
  padding: 64px 16px;

  & .hero-paragraph {
    width: 272px;
  }

  header {
    display: flex;
    align-items: center;
    position: relative;

    & .logo-hero {
      /* posicionamento absoluto: equivale a ignorar o auto layout;
     exige "position: relative" no elemento pai  */
      position: absolute;
      right: -80px;
      opacity: 0.7;
      z-index: 10;
    }
  }
}

#hero-slider {
  margin-top: 16px;
}

span {
  color: var(--tom3);
  font-weight: 800;
}

img {
  height: 100%;
}

.logo-hero {
  position: absolute;

  right: -80px;
  opacity: 0.7;
}

/* ************ */
/* COMPONENTES */
/* ********** */

/* seção */
section {
  width: 100%;

  /* Smallest View port */
  height: 100svh;
  padding: 64px 32px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Titulo */
h1 {
  color: var(--secundaria);
  font-family: Exo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 48px */

  margin: 0px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

[role="logo"] {
  width: 160px;
  height: 160px;

  background-color: black;

  mask: url("public/logo branca.svg") no-repeat center;
  mask-size: 100%;
}

[role="mask"] {
  width: 100%;
  height: 260px;
  border-radius: 8px;

  display: flex;
  justify-content: center;

  overflow: hidden;
  filter: drop-shadow(0px 24px 34px 0px rgba#00000095);
}

img {
  height: 100%;
}

p {
  font-size: 20px;
  font-family: "source-serif-4", serif;
  opacity: 0.65;
}














.a-barbearia-section {

& [role-mask] {
width: 420px;
height: 420px;
border-radius: 100%;
align-items: center;

z-index: -10;
position: absolute;

& .img {
  width: 100%;

}


& .bolinhas {
position: absolute;
left: 0px;
z-index: -20;

}

}


}




.servicos-section {

padding: 64px 0px;

& .bolinhas {
  width: 270px;
  height: 48px;
}
& h2 {
  color: var(--3, #664E38);
text-align: center;
font-family: "Source Serif 4";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 20px */
}

& article {
  width: 40%;
  margin-right: 32px;
}

& article p {
text-align: center;

}

& [role="mask"] {
  width: 160px;
height: 320px;
flex-shrink: 0;
border-radius: 0px 8px 8px 0px;
}

& [role="mask"] img {
height: 140%;
transform: scalex(-1);
}

}



.bolinhas {
  width: 300px;
height: 300px;


background-color: var(--tom3);
mask: url("public/bolinhas.svg") no-repeat center;
mask-size: 100%;

&.fileira {
mask: url("public/fileira-de-bolinhas.svg") no-repeat center;
mask-size: 100%;
}


}





/* *********** */
/* UTILITÁRIOS */
/* *********** */

.translate-y-center {
  translate: 0 -50%;
  top: 50%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}

.gap-8 {
  gap: 32px;
}